<?xml version="1.0"?>
<robot name="test_1dof_torque">
  <link name="world"/>

  <link name="link">
    <inertial>
      <mass value="2.0"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0"
               iyy="0.05" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="world_to_base" type="fixed">
    <origin xyz="0 0 1" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link"/>
  </joint>

  <joint name="j1" type="continuous">
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link"/>
    <limit effort="20.0" velocity="2.0"/>
    <dynamics damping="5.0" friction="0.0"/>
  </joint>

  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
      <param name="initial_motor_mode">mit</param>
    </hardware>
    <joint name="j1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
